body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    width: 100vw;
    height: 100vh;
}

.left-column {
    flex: 0 1 40%;
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-position: center;
}

.right-column {
    flex: 0 1 60%;
    background-color: red;
}