@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* :root {
    font-size: 4px;
} */

body {
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 98%);
}

.container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    width: 100vw;
    height: 100vh;
}

.left-column {
    flex: 0 1 40%;
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.image-container {
    width: 100%;
    height: 13%;
    background-color: rgba(0,0,0,0.4);
    margin-top: 31vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Caveat', sans-serif, system-ui;
    font-size: 4rem;
    font-weight: 700;
    color: white;
}

.image-container > div {
    flex: 0 1 auto;
    /* es geht um die schrift, und schrift scaled nicht mit flex, ich muss hier mit dem viewport arbeiten */
}

.image-credits {
    color: white;
    text-align: center;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.image-credits > a {
    color: inherit;
}

.right-column {
    flex: 0 1 60%;
}

.right-column > p {
    padding-left: 3vw;
    padding-right: 15vw;
    margin-top: 17vh;
}

.right-column p:nth-child(-n + 2) {
    font-weight: bold;
    font-size: 2rem;
    font-family: sans-serif;
}

.right-column p:nth-child(2) {
    margin-top: 6vh;
}

/* .right-column p:nth-child(3) {
    margin-top: 6vh;
} */

.container-bg {
    padding-top: 0.5vw;
    margin-top: 5.4vh;
    background-color: white;
}

.container-bg > p {
    padding-left: 3vw;
}

.form-container {
    display: flex;
    gap: 4vw;
    box-shadow: 0 5px 5px lightgrey;
    padding-left: 3vw;
}

form {
    font-family: "Roboto", sans-serif, system-ui;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.1rem;  
}

form input {
    margin-bottom: 4vh;
    width: 15vw;
    padding: 8px 20px;
    box-sizing: border-box;
    }

input:required {
    border: 1px solid red;
}

input:required:valid {
    border: 1px solid green;
}

input:required::before {
    content: 'test';
}

input:focus {
    border: 3px solid hwb(204 0% 0%);
    box-shadow: 0 5px 5px lightgrey;
}

form > button {
    margin-top: 3vh;
    margin-left: 3vw;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto", sans-serif, system-ui;
    background-color: hwb(204 0% 0%);
    color: white;
    border-radius: 10px;
}

.right-column p:last-child {
    margin-top: 2.5vh;
    font-size: 18px;
    font-family: "Roboto", sans-serif, system-ui;
    font-weight: 500;
}

.right-column a {
    color: hwb(204 0% 0%);
}